<div class="container">
    <div class="row justify-content-sm-center">

        <div class="col col-md-6 col-md-offset-3">
            <div class="card-sm card-login">
                <img src="assets/img/logos/logo.png" class="rounded mx-auto d-block" alt="Cinque Terre">
                <div class="card-heading">
                    <div class="row">
                        <div class="col col-sm-4">
                            <a href="#" class="active" id="login-form-link" (click)="formlogin()">Iniciar sesión</a>

                        </div>
                        <div class="col col-sm-4">
                            <a href="#" id="register-form-link" (click)="formregister()">Regístrate ahora</a>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                </div>
                <hr>

                <div class="card-body">
                    <div class="row">
                        <div class=" col col-sm-12">
                            <form id="login-form" class="needs-validation" novalidate method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="email" name="email" id="correo" tabindex="1" class="form-control" placeholder="Email" value="" required>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">Escriba un correo correctamente</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="passwordlogin" tabindex="2" class="form-control" placeholder="Password" required>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de contraseña es obligatorio</div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col align-self-center">
                                            <button type="button" id="login-submit" class="form-control btn btn-login" (click)="logear()">
                                                <span class="spinner-border spinner-border-sm mr-2" style="display:none;"id="loading2"></span>
                                                Iniciar sesión
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" class="forgot-password" data-toggle="modal" data-target="#recoverymodal">¿Has olvidado tu contraseña?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" class="needs-validation" novalidate method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="Nombres" id="Nombres" class="form-control" placeholder="Nombres" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de Nombres es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Apellidos" id="Apellidos" class="form-control" placeholder="Apellidos" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de Apellidos es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="identificacion" id="identificacion" class="form-control" placeholder="Identificación" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de Identificacion es obligatorio</div>
                                </div>

                                <div class="form-group">
                                    <input type="Text" name="Telefono" id="Telefono" class="form-control" placeholder="Teléfono Móvil" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de Telefono es obligatorio</div>
                                </div>


                                <div class="form-group">
                                    <input type="Text" name="Direccion" id="Direccion" class="form-control" placeholder="Dirección" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de direccion es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="emailR" tabindex="1" class="form-control" placeholder="Correo Electrónico" value="" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de email es obligatorio</div>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="passwordR" tabindex="2" class="form-control" placeholder="Contraseña" required/>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">el campo de contraseña es obligatorio</div>
                                </div>

                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="habeasdata" id="habeas" required/>
                                    <label for="remember"> <!--<a href="http://phpoll.com/recover"  target="_blank" class="forgot-password">Terminos ycondiciones</a>-->Términos y condiciones</label>
                                    <div class="valid-feedback">Correcto!</div>
                                    <div class="invalid-feedback">Porfavor acepte los terminos y condiciones </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-sm-4 col align-self-center">
                                            <button type="button" id="register-submit " class="form-control btn btn-register" (click)="register()"> 
                                                <span class="spinner-border spinner-border-sm mr-2" style="display:none;"id="loading"></span>
                                                Crear cuenta
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="recoverymodal" tabindex="-1" role="dialog" aria-labelledby="recoverymodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Recuperar Contraseña
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email </label>
                        <input type="email" class="form-control" id="emailrecovery" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Por favor ingresé el correo electrónico con el que se registró. </small>
                    </div>

                    <button type="button" class="btn btn-primary" (click)="recorderpass()">Enviar
                        <span class="spinner-border spinner-border-sm mr-2" style="display:none;"id="loadingr"></span>
                    </button>

                </form>
                <div class="container" style="margin-top:10px">
                    <div class="alert alert-primary" role="alert" style="display:none" id="msgrecovery">
                        Se ha enviado a su correo electrónico una contraseña temporal; por favor cambiarla una vez inicie sesión.
                    </div>
                </div>

            </div>

        </div>
    </div>